body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(70, 70, 70);
}

.floating-image {
    position: fixed; /* Keeps the image fixed in position */
    top: 2px; /* Aligns the image to the top */
    left: 2px; /* Aligns the image to the left */
    z-index: 1000; /* Ensures the image floats above other elements */
    width: 30px; /* Adjust the size of the image */
    height: auto; /* Maintain the aspect ratio */
    /* pointer-events: none;-Prevents the image from interfering with clicks */
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 35px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    align-items:center;
    padding-bottom: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    letter-spacing: -2px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;    
    position: relative;
    font-weight: 100;
}
nav ul li a:hover {
    background: linear-gradient(45deg, rgb(64, 204, 255), rgb(159, 88, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Position the dot closer to the text */
    left: 50%; /* Center the dot horizontally */
    transform: translateX(-50%); /* Center the dot */
    height: 0px;
    width: 10px;
    background: linear-gradient(45deg, rgb(64, 204, 255), rgb(159, 88, 236));
    border-radius: 50%;
    transition: all 300ms ease; /* Smooth transition */
}
nav ul li a:hover::after {
    height: 10px;
    left: 50%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    /* bg */
    background-image: url('./images/bg4.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    margin: 0;
    text-align: left;
    padding: 20px;
    position: relative; /* Make the parent element relative to position the overlay */
}

.hero::before {
    content: ''; /* Required to create a pseudo-element */
    position: absolute; /* Position the overlay absolutely */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Makes the overlay cover the entire parent */
    background-color: rgba(0, 0, 0, 0.6); /* Black overlay with 60% opacity */
    z-index: 1; /* Ensures the overlay is on top of the background image */
}


.hero-text, .hero-brief {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

h2 {
    /* margin: 0;
    font-size: 100em; */
    text-align: center;
    background: linear-gradient(45deg, #4fcdff, #8f27ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Silkscreen", sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
}

.hero-brief p {
    text-align: center;
    font-family: "DM Mono", monospace;
    font-weight: 100;
    margin: 5px 0;
    font-size: 1.3em;
    background: linear-gradient(45deg, #4fcdff, #8f27ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.5px; /* Reduces letter spacing */
}
.glow {
    text-align: center;
    font-family: "DM Mono", monospace;
    font-weight: 100;
    margin: 5px 0;
    font-size: 1.3em;
    background: linear-gradient(45deg, #4fcdff, #8f27ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 0px #4fcdff, 0 0 0px #4fcdff, 0 0 20px #8f27ff, 0 0 30px #8f27ff;
}

h6 {
    text-align: center;
    font-family: "DM Mono", monospace;
    font-weight: 100;
    margin: 5px 0;
    font-size: 1.6em;
    background: linear-gradient(45deg, #4fcdff, #8f27ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    padding: 10px;
    /* text-align: left;     */
    /* color: #2529fc; */
    background: #464646;
    background-image: url('./images/bg5.jpg');
            background-size: cover; /* Ensures the image covers the entire background */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            background-position: center center; /* Centers the image */
            margin: 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0px;
}





.title1 {
    text-align: center;
}


.profile {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
h3 {
    font-family: "dm mono", sans-serif;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(45deg, #4fcdff, #8f27ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h4 {
    font-family: "dm mono", sans-serif;
    font-size: 0.8rem;
    background: linear-gradient(45deg, #4fcdff, #8f27ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card p {
    font-family: "dm mono", sans-serif;
    color: rgb(190, 190, 190);
}

.container{
    width: 800px;
	padding-top: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 20px;

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(255, 10, 10, 0.2);
    /* Glass_morpsm */
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(199, 255, 255, 0.2);
    border-left: 1px solid rgba(199, 255, 255, 0.2);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid rgb(82, 163, 230);
}
.col .contents .box{
	position: relative;
	padding: 0;
    padding-left: 5px;
	border-top: 0.1px solid rgb(190, 190, 190);
	border-bottom: 0.1px solid rgb(190, 190, 190);
	background-color: rgba(255, 255, 255, 0);
	cursor: auto;
	transition: all 0.4s;
    margin-bottom: 5px;
}
.col .contents .boxx{
	position: relative;
	padding: 0;
	background-color: rgba(255, 255, 255, 0);
	cursor: auto;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px rgb(204, 204, 204, 1);
	border: -1px solid transparent;
    border-radius: 10px;
}
.col .contents .box::before, .boxx::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color: #1175a3;
	border: 2px solid white;
}
.box h4{
	position: relative;
	color: #11a372;
}
.box h3{
	font-size: 19px;
	padding: 0;
	font-family: "dm mono", sans-serif;
	color: #444;
}
.boxx h2{
	font-size: 29px;
	padding: 0;
	font-family: "dm mono", sans-serif;
	color: #444;
}
.box p{
    font-family: "dm mono", sans-serif;
	line-height: 1.2;
	color: rgb(190, 190, 190);
	font-size: 17px;
    padding-left: 0px;
}


.icon-scroller {
    display: flex;
    justify-content: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 19px;
    margin-bottom: 15px;
    position: relative;
}

.icon-scroller::before,
.icon-scroller::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
    z-index: -0;
}

.icon-scroller::before {
    left: 0;
}

.icon-scroller::after {
    right: 0;
    transform: rotateY(180deg);
}

.icon-scroller img {
    height: 50px;
    margin: 0 10px;
    border-radius: 10px;
    animation: scroll 10s linear infinite;
    z-index: 2; /* Ensure icons are in front of the background */
}

@keyframes scroll {
    from {
        transform: translateX(1500px);
    }
    to {
        transform: translateX(-1000%);
    }
}

#projects {
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;    
    color: #2575fc;
    background: #464646;
    background-image: url('/images/bg5.jpg');
            background-size: cover; /* Ensures the image covers the entire background */
            background-repeat: no-repeat; /* Prevents the image from repeating */
            background-position: center center; /* Centers the image */
            margin: 0;
}
.project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* .project-item {
    height: 400px;
    background-color: #e89e9e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
} */

/* .project-item a {
    display: block;
    margin-top: 10px;
    color: #202831;
    text-decoration: none;
} */
 


.project-button {
    width: 120px;
    font-family: "dm mono", sans-serif;
    font-weight: 800;
    font-size: 13px;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    transition: background 0.5s ease;
}

#home button:hover {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    font-weight: 100;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-column {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-column img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.footer-column a {
    color: #fff;
    margin: 0 2px;
    text-decoration: none;
}

footer p {
    font-family: "dm mono";
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
}


h1 {
    font-size: 150px;
}

h1 span {
    font-family: "Jersey 10 charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(17, 203, 23,0);
    text-shadow: 0 0 15px rgba(64, 204, 255,0.5);
    animation: loading 3s infinite linear;
    animation-delay: calc(0.3s * var(--i));
    letter-spacing: -40px; /* Reduce letter spacing */
}

@keyframes loading {
    0%, 100% {
        color: rgba(17, 203, 23,0);
        text-shadow: 0 0 15px rgba(159, 88, 236,0.5);
    }

    50% {
        color: rgba(64, 204, 255, 0.9);
        text-shadow: 0 0 15px rgba(159, 88, 236,0.8);
    }
}

/* silkscreen-font */
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* dm mono-font */
.dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }
  
  .dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }
  
  .dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
  }
  
  .dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
  }
  




/* Dealt_with_later */
.cards .card {
    position: relative;
    width: 400px;
    height: auto;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: -0.5px; /* Reduces letter spacing */
    /* Glass_morpsm */
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(199, 255, 255, 0.2);
    border-left: 1px solid rgba(199, 255, 255, 0.2);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.project-list .card {
    position: relative;
    width: 400px;
    height: 720px;
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: -0.5px; /* Reduces letter spacing */
    /* Glass_morpsm */
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(199, 255, 255, 0.2);
    border-left: 1px solid rgba(199, 255, 255, 0.2);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.card-button {
    
    font-family: "jersey 10" , sans-serif;
    width: 129px;
    height: 38px;
    position: absolute;
    bottom: 20%;
    left: 20%;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgba(1, 254, 254, 0.4);
    color: #fff;
    cursor: pointer;
    z-index: 3;
}

h5 {
    font-family: "dm mono" , sans-serif;
    font-weight: 100;
    position: absolute;
    bottom: 30%;
    left: 25%;
    right: 10%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
    font-size: 14px;
    color: #ffffff;
}

.lines .line {
    position: absolute;
    height: 2px;
    background-color: #01fefe;
    transition: width 1s, height 1s;
    z-index: 2;
}

.lines .line.vertical {
    width: 2px;
    height: 0;
}

.lines .line.horizontal {
    width: 0;
    height: 2px;
}

/* right */
.lines .top-left.vertical {
    top: 74.5%;
    left: 53.5%;
}

/* top */
.lines .top-left.horizontal {
    top: 73.65%;
    left: 20%;
}

/* bottom */
.lines .top-right.horizontal {
    top: 80.75%;
    right: 48%;
}

/* left */
.lines .bottom-left.vertical {
    bottom: 20%;
    left: 18.25%;
}

.card:hover .card-overlay {
    opacity: 0.5;
}

.card:hover .card-text {
    opacity: 1;
}

.card:hover .line.vertical {
    height: 100%;
}

.card:hover .line.horizontal {
    width: 100%;
}




/* Contact-me */
  .contact-me {
    background-image: url('./images/bg5.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    padding-bottom: 130px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
  }
  
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info, .contact-gif {
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(255, 10, 10, 0.2);
    /* Glass_morpsm */
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(199, 255, 255, 0.2);
    border-left: 1px solid rgba(199, 255, 255, 0.2);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  }
  .contact-info {
    /* flex: 1 1 1%; */
    width: 260px;
    height: 290px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-items: center;
    font-family: "dm mono" , sans-serif;
    letter-spacing: -1px;
    font-size: 14px;
  }
  .contact-gif {
    /* flex: 1 1 1%; */
    width: 320px;
    height: 320px;
    padding: 0;
    overflow: hidden;
  }
  
  /* Header and Glowing Dot */
  .contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  
  .glowing-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 132, 255);
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 10px rgb(0, 102, 255), 0 0 20px rgb(0, 204, 255);
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .icon {
    width: 24px;
    margin-right: 10px;
  }
  
  .contact-link {
    color: white;
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .copy-icon {
    width: 13px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .popup {
    position: fixed;
    bottom: 20px; /* Adjust according to your design */
    right: 20px; /* Position at the bottom right of the screen */
    background-color: #333; /* Dark background */
    color: white; /* White text */
    padding: 10px 15px; /* Padding inside the popup */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size for the text */
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it appears above other content */
}
  
/* GIF Styles */
 .contact-gif .gif {
   width: 100%;
   max-width: 600px;
   height: 100%;
}

/* My-stack */
.my-stack {
    background-image: url('./images/bg5.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    padding-bottom: 20px;
    color: white;
}

.my-stack .stack-container {
    max-width: 1200px;
    margin: 0 auto;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

.tech-item {
    background-color: rgba(0, 0, 0, 0.897); /* Slightly transparent background */
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.tech-item:hover {
    transform: translateY(-10px);
}

.tech-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
}

.tech-description h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}
  




















/* responsiveness */
@media (max-width: 550px) {
    .hero {
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .hero-text h1, .hero-text h2 {
        font-size: 6em;
    }
    h6 {
        font-size: 1.1rem;
    }

    .hero-brief {
        font-size: 1em;
    }

    .cards, .project-list {
        flex-direction: column;
        align-items: center;
    }
    .project-item {
        height: 400px;
        color: brown;
    }
    .project-list .card {
        width: 100%;
        height: auto;
    }
    .card-button {
        width: 32.5%;
        height:5.3%;
        font-size: 0.794rem;
    }
    .project-list .card .card-text {
        font-size: 12px;
    }
    nav ul li {
        margin: 0 5px;
    }
    nav ul li a {
        font-size: 15px;
    }
    h1 span {
        letter-spacing: -25px; /* Reduce letter spacing */
    }
    .hero-brief p {
        font-size: 1rem;
    }

    .row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}

    footer p {
        font-size: 10px;
    }
    .footer-column img {
        width: 25px;
        height: 25px;
        border-radius: 10px;
    }
    .cards .card {
        width: 94%;
    }
    .cards .card p {
        font-size: 13px;
    }
    .container{
        width: 94%;
    }
    h2 {
        font-size: 25px;
    }
    .boxx h2{
        font-size: 25px;
    }
    .box h3{
        font-size: 15px;
    }
    .box p{
        font-size: 13px;
    }




    .contact-container {
        /* flex-direction: column; */
    }
    
    .contact-info, .contact-gif {
        flex: 1 1 100%;
    }
    .contact-me {
        padding-bottom: 5px;
    }




    .tech-grid {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }
}